<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Page Not Found</title>
		<link rel="stylesheet" href="../static/error.css" />
	</head>
	<style></style>
	<body data-alert="{{failed}}">
		<main class="center main">
			<h1 class="neon">404</h1>
			<span> Page Not Found</span>
			<footer><div>You may close this page</div></footer>
		</main>
		<script src="../static/alert.js"></script>
	</body>
</html>
