<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Page Not Found</title>
		<link rel="stylesheet" href="/static/error.css" />
	</head>
	<style></style>
	<body data-alert="{{failed}}">
		<canvas id="world"></canvas>
		<header>
			{% if show_settings %}
				<a href="/settings" target="_blank" class="button">⚙️Settings</a>
			{% endif %}
		</header>
		<main class="center main float">
			<h1 class="neon">{{error_code}}</h1>
			<h3>{{sub_title}}</h3>
			<div><em>{{suggestion}}</em></div>
		</main>

		<script src="/static/utils.js"></script>
	</body>
</html>
