<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Updating...</title>
		<link rel="stylesheet" href="../static/mini_board.css" />
	</head>
	<body>
		<header>
			<a
			class="button"
				href="https://myanimelist.net/animelist/{{settings['name']}}?status=1"
				target="_blank"
				>↪️Your Anime list</a
			>
			<a class="button" href="./settings">⚙️Settings</a>
		</header>
		<main class="center">
			<section>
				<img alt="Main Picture of the Selected Anime" src="" />
			</section>
			<section class="main float">
				<form action="./update-status" method="POST">
					<select name="animes" id="animes">
						{% for anime in reversed(watch_list)%}
						<option
							label="{{anime.title}}"
							value="{{anime.id}}"
							selected
							title="{{anime.list_status.get('updated_at', 0)}},{{anime.list_status.get('start_date')}},{{anime.list_status.get('end_date')}}"
							data-image="{{anime.main_picture.get('medium', anime.main_picture['large'])}}"
							data-left="{{anime.list_status['num_episodes'] - anime.list_status['num_episodes_watched']}}"
							data-done="{{anime.list_status['num_episodes_watched']}}"
							data-total="{{anime.list_status['num_episodes']}}"
						></option>
						{% endfor %}
					</select>
					<input type="range" name="watched" id="ep-range" min="0" />
					<div>
						
						<input
							type="text"
							name="up_until"
							readonly
							title="Up Until, you have watched"
						/>
						<span>+</span>
						<input
							type="number"
							name="ep-range"
							min="0"
							title="update this many episodes for today"
						/>
						<span>/</span>
						<input
							type="text"
							name="total"
							readonly
							title="Total Episodes you have watched"
						/>
						<span>Eps.</span>
					</div>
					<button class="button">Update</button>
					<input type="hidden" name="name">
					<input type="hidden" name="image">
				</form>
			</section>
		</main>

		<script src="../static/mini_board.js"></script>
	</body>
</html>
