<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="idth=device-width, initial-scale=1.0" />
		<title>Updating...</title>
		<link rel="stylesheet" href="/static/mini_board.css" />
	</head>
	<body>
		<canvas id="world"></canvas>
		<header>
			<a
			class="button"
				href="https://myanimelist.net/animelist/{{settings['name']}}?status=1"
				target="_blank"
				title="View your watch list"
				>↪️Your Anime list</a
			>
			<a class="button" href="/settings" title="Redirects you to settings page">⚙️Settings</a>
		</header>
		<main class="center">
			<section>
				<img alt="Main Picture of the Selected Anime" src=""/>
			</section>
			<section class="main float">
				<form action="./update-status" method="POST">
					<div class="select">
						<select name="id" id="anime-list" title="Your Watch List">
							{% for anime in reversed(watch_list)%}
							<option
								label="{{anime.title}}"
								value="{{anime.id}}"
								selected
								title="{{anime.list_status.get('updated_at', 0)}},{{anime.list_status.get('start_date')}},{{anime.list_status.get('end_date')}}"
								data-image="{{anime.main_picture.get('medium', anime.main_picture['large'])}}"
								data-left="{{anime.list_status['num_episodes'] - anime.list_status['num_episodes_watched']}}"
								data-done="{{anime.list_status['num_episodes_watched']}}"
								data-total="{{anime.list_status['num_episodes']}}"
								data-genre="{{anime.list_status['gen']}}"
								data-rank="{{anime.list_status['rank']}}"
								data-popularity="{{anime.list_status['popularity']}}"
								data-score="{{anime.list_status['mean']}}"
								data-duration="{{anime.list_status['average_episode_duration']}}"
								data-rating="{{anime.list_status['rating']}}"
							></option>
							{% endfor %}
						</select>
					</div>

					<input type="range" name="watched" id="watched" min="0" title="So you didn't watch any episode 🤨"/>
					<div>
						<input
							type="number"
							name="up_until"
							readonly
							title="Up Until, you have watched"
						/>
						<span>+</span>
						<input
							type="number"
							name="today"
							min="0"
							class="neon"
							id="today"
							title="update this many episodes for today"
						/>
						<span>=</span>
						<output name="total_now" for="today" id="total_now" class="neon" title="So totally you have watched this many episodes 🙂"></output>
						<span>/</span>
						<input
							type="number"
							name="total"
							readonly
							title="Total Episodes you have watched"
						/>
						<span>Eps.</span>
					</div>
					<button class="button">Update</button>
					<input type="hidden" name="name">
					<input type="hidden" name="image">
					<input type="hidden" name="genres">
					<input type="hidden" name="rank">
					<input type="hidden" name="score">
					<input type="hidden" name="popularity">
					<input type="hidden" name="duration">
					<input type="hidden" name="rating">
					<footer>
						<span id="genres" title="Genres"></span>
						<span id="score" title="Average Score"></span>
						<span id="rank" title="Rank"></span>
						<span id="popularity" title="Popularity Rank"></span>
						<span id="rating" title="Rating"></span>
					</footer>
				</form>
			</section>
		</main>

		<script src="/static/utils.js"></script>
		<script src="/static/mini_board.js"></script>
	</body>
</html>
