<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=\, initial-scale=1.0" />
		<title>Settings</title>
		<link rel="stylesheet" href="../static/settings.css" />
	</head>
	<body
		data-alert="{% if error %}
    {{ error }}
{% endif %}"
	>
	<canvas id="world"></canvas>
		<header>
			<a
			class="small button"
				href="https://myanimelist.net/animelist/{{settings['name']}}"
				target="_blank"
				>➡️ Anime list</a
			>
			<a href="./" title="Opens up a Force Scheduler Page" class="button"
				>⏰ Force-Remainder</a
			>
			<a class="medium button" href="./close-session" title="Closes the current session">Close Session ❌</a>
			<a class="medium button" href="/settings?force-refresh=true" title="Refreshes Tokens">Refresh Tokens 🔄</a>
			<a class="medium button" href="./static/data/settings.db" title="Download Current Settings File">Save Settings ⚙️</a>
			
			<!--<a href="./dash-board" target="_blank">Save Data</a> !-->
			
		</header>
		<main class="center">
			<section>
				<img class="float" src="{{ profile }}" />
			</section>
			<section class="float main">
				<form action="./edit-settings" method="POST" enctype="multipart/form-data">
					<div>
						<label for="CLIENT_ID">Client ID:</label>
						<input
							name="CLIENT_ID"
							type="password"
							id="CLIENT_ID"
							value="{{settings['CLIENT_ID']}}"
						/>
					</div>

					<div>
						<label for="CLIENT_SECRET">Client Secret:&nbsp;</label>
						<input
							type="password"
							value="{{settings['CLIENT_SECRET']}}"
							name="CLIENT_SECRET"
							id="CLIENT_SECRET"
						/>
					</div>

					<div>
						<label for="REDIRECT_HOST" title="Redirect URL Host"
							>Host:</label
						>
						<input
							type="text"
							name="REDIRECT_HOST"
							id="REDIRECT_HOST"
							value="{{settings['REDIRECT_HOST']}}"
						/>
					</div>

					<div>
						<label for="REDIRECT_PORT" title="Redirect URL Port"
							>Port:</label
						>
						<input
							type="text"
							name="REDIRECT_PORT"
							id="REDIRECT_PORT"
							value="{{settings['REDIRECT_PORT']}}"
							minlength="4"
							maxlength="4"
							pattern="\d+"
						/>
					</div>
					<div>
						<label for="save-settings"><button class="small button" name="replace">Refer</button>Settings: </label>
						<input type="file" class="small button" id="save-settings" accept=".db" name="settings-file">
					</div>
					<div>
						<label
							for="CALENDAR"
							title="ICS Calender File path or URL"
						>
							Calendar:
							<button class="small button" name="calendar" style="margin-right: 6px;" title="Updates the Calendar from URL">🔄</button>
						</label>
						<input
							type="text"
							name="calendar_url"
							id="CALENDAR"
							value="{{settings['calendar']}}"
						/>
						
					</div>
					
					<a
						href="./close-oauth_session"
						title="Closes OAUTH session if active"
						id="close-link"
						>./close-oauth_session</a
					>
					<button class="button" name="reset">Reset OAuth</button>
				</form>
			</section>
		</main>

		<footer>
			<h3 class="glow">MAL-Remainder<sub>{{version}}</sub></h3>
			<form action="./auto-update" method="POST">
				<div>
					<label for="auto-update">Auto Update:&nbsp;</label>
					<label>
						<input type="checkbox" name="auto-update" id="auto-update" {% if settings['auto-update'] and settings['auto-update'] == '1' %}checked{% endif %}>
						<div></div>
					</label>
				</div>
			</form>
			<div class="float" data-time="{{expire_time}}" title="Time Left for your Access Tokens.Note:It doesn't know if the Access Tokens are valid or not!">
				<span>Expires in:&nbsp;</span>
				<span id="days"></span> day<span></span>
				<span id="hours"></span> hr<span></span>
				<span id="minutes"></span> min<span></span>
				<span id="seconds"></span> sec<span></span>
			</div>
		</footer>
		<script src="../static/main.js"></script>
		<script src="../static/alert.js"></script>
		<script src="../static/utils.js"></script>
	</body>
</html>
