<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=\, initial-scale=1.0" />
		<title>Settings</title>
		<link rel="stylesheet" href="../static/settings.css" />
	</head>
	<body
		data-alert="{% if error %}
    {{ error }}
{% endif %}"
	>
		<header>
			<a
				href="https://myanimelist.net/animelist/{{settings['name']}}"
				target="_blank"
				>➡️ Redirect to your Anime list</a
			>
			<a
				href="./save-events"
				title="Change the Timings on ur Local Machine's Scheduler"
				>📅 ReSchedule</a
			>
			<a href="./" title="Opens up a Force Scheduler Page"
				>⏰ Force-Remainder</a
			>
			<!--<a href="./dash-board" target="_blank">Save Data</a> !-->
			<div data-time="{{expire_time}}">
				<span>Expires in:&nbsp;</span>
				<span id="days"></span> day<span></span>
				<span id="hours"></span> hr<span></span>
				<span id="minutes"></span> min<span></span>
				<span id="seconds"></span> sec<span></span>
			</div>
		</header>
		<main class="center">
			<section>
				<img src="{{url_for('static', filename='Profile.jpg')}}" />
			</section>
			<section class="main">
				<form action="./save-settings" method="POST">
					<div>
						<label for="CLIENT_ID">Client ID:</label>
						<input
							name="CLIENT_ID"
							type="password"
							id="CLIENT_ID"
							value="{{settings['CLIENT_ID']}}"
						/>
					</div>

					<div>
						<label for="CLIENT_SECRET">Client Secret:&nbsp;</label>
						<input
							type="password"
							value="{{settings['CLIENT_SECRET']}}"
							name="CLIENT_SECRET"
							id="CLIENT_SECRET"
						/>
					</div>

					<div>
						<label for="REDIRECT_HOST" title="Redirect URL Host"
							>Host:</label
						>
						<input
							type="text"
							name="REDIRECT_HOST"
							id="REDIRECT_HOST"
							value="{{settings['REDIRECT_HOST']}}"
						/>
					</div>

					<div>
						<label for="REDIRECT_PORT" title="Redirect URL Port"
							>Port:</label
						>
						<input
							type="text"
							name="REDIRECT_PORT"
							id="REDIRECT_PORT"
							value="{{settings['REDIRECT_PORT']}}"
							minlength="4"
							maxlength="4"
							pattern="\d+"
						/>
					</div>
					<div>
						<label
							for="CALENDAR"
							title="ICS Calender File path or URL"
						>
							Calendar:
						</label>
						<input
							type="text"
							name="calendar"
							id="CALENDAR"
							value="{{settings['calendar']}}"
						/>
					</div>
					<a
						href="./close-oauth_session"
						title="Click this to close the session"
						style="display: none"
						id="close-link"
						>./close-oauth_session</a
					>
					<button name="reset">Reset Oauth</button>
					<button name="refresh">Refresh</button>
				</form>
				<form action="./import-settings">
					<button name="settings">Import Settings</button>
				</form>
			</section>
		</main>

		<footer></footer>
		<script src="../static/main.js"></script>
		<script src="../static/alert.js"></script>
	</body>
</html>
