# files
*.json
*.db
*.csv
*.pyc
*.ics
*.exe
*Profile.jpg
*.pfx
*get_cert.ps1
bump.ps1
MAL_Remainder/data.csv

# directories
MAL_Remainder/Logs/
MAL_Remainder/static/Data/*
Media/
.idea
.cache
Python/

Docs/_site
Docs/.sass-cache
Docs/.jekyll-cache
Docs/.jekyll-metadata
Docs/vendor

