button,
input {
	background-color: var(--bg);
	color: var(--fg);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
	outline: none;
	opacity: 0.69;
	border: 0px solid;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
		rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	padding: 3px;
}

button:hover,
input:hover {
	opacity: 1;
	transform: translateY(-1px);
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
		rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
		rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

input[type="range"] {
	-webkit-appearance: none !important;
	width: 400px;
	height: 15px;
	outline: none;
	border-radius: 15px;
	background-color: rgb(210, 100, 10);
	overflow: hidden;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
	transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background-color: var(--light-bg);
	width: 4%;
	height: 14.5px;
	border-radius: 30px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	transition: all 0.5s ease;
}

input[type="range"]:hover {
	background-color: rgb(255, 100, 15);
}

input[type="range"]::-webkit-slider-thumb:hover {
	background-color: rgba(0, 0, 0);
}

form {
	display: flex;
	flex-direction: column;
	row-gap: 0.69rem;
	justify-content: baseline;
}

form > * {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: baseline;
	text-align: center;
}

label {
	color: white;
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
		rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

button {
	border: 1px darkorange solid;
}

button:hover {
	border: 1px darkorange double;
}

button {
	background-color: #fa6400;
	box-sizing: border-box;
	color: #fff;
	padding: 0.45rem;
	cursor: pointer;
	touch-action: manipulation;
	transform: translateY(-6px);
}

button:hover {
	background-color: darkorange;
}

button:active {
	background-color: #c85000;
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	transform: translateY(0);
}

button,
span {
	user-select: none;
}
