@import url("./utils.css");

main {
	display: flex;
	flex-flow: column;
	align-items: center;
}

main > section:first-of-type > img {
	border-radius: 10rem;
	width: 6rem;
	height: 6rem;
	position: relative;
	margin-bottom: 2rem;

	z-index: 1;
	top: 35%;

	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.tool-button {
}

#days,
#days ~ span {
	font-size: 1.5rem;
	color: red;
}

#days[text="0"],
#days ~ span[value="0"] {
	color: red;
}

header > div {
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
