@import url("./form.css");
:root {
	--bg: #212121;
	--fg: white;
	--light-bg: #333333;
	
}
* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


button, span{
	user-select: none
}


.main {
	background-color: var(--light-bg);
	padding-top: 3rem;
	padding: 1.3rem;
	color: var(--fg);
}

.center {
	position: absolute;
	--width: 35%;
	--height: 55%;

	width: var(--width);
	height: var(--height);

	top: calc((100% - var(--height)) / 2);
	left: calc((100% - var(--width)) / 2);
	
}
body {
	background-color: var(--bg);
}

.neon {
	animation: var(--glow);
	color: #ff5500;
	font-family: Cursive;
	font-size: 67px;
}


.main > footer {
	position: relative;
	bottom: -15%;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
}

footer, header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	top: 0.5%;
	left: 0.5%;
	position: fixed;
	width: 100%;
	color: #ff5500;
}

footer{
	top: 92%;
	left: -1%;
	justify-content: flex-end;
}



.center > section > img{
	animation: var(--float);
}


