@import url("./form.css");

:root {
	--bg: #212121;
	--fg: white;
	--light-bg: #333333;
	--orange: #ff5500;
	
}
* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.button, label, a, div, img, button, span{
	user-select: none
}


.main {
	background-color: var(--light-bg);
	padding-top: 3rem;
	padding: 1.3rem;
	color: var(--fg);
}

.center {
	position: absolute;
	--width: 35%;
	--height: 55%;

	width: var(--width);
	height: var(--height);

	top: calc((100% - var(--height)) / 2);
	left: calc((100% - var(--width)) / 2);
	
}
body {
	background-color: var(--bg);
}

#world{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.neon {
	animation: var(--neon);
	color: var(--orange);
}


.main > footer {
	position: relative;
	bottom: -15%;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
}

footer, header {
	display: flex;
	position: fixed;
	justify-content: space-around;
	align-items: center;
	color: var(--orange);
	width: 100%;
}

header{
	top: 0.5%;
	left: 0.5%;
}


footer{
	bottom: 0.5%;
	left: 0%;
}

footer > form > div{
	align-items: flex-end;
}


.center > section > img{
	animation: var(--float);
}
